.App {
  text-align: center;
}

.button-container {
  position: relative; 
  width: 100%;
  height: 100vh; 
  background-color: #ffffff; 
}

.control-button {
  position: absolute; 
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.control-button:hover {
  background-color: #72b876;
}

.button1 {
  top: 20px;
  left: 40px;
  background-color: #79c07e;
}

.button2 {
  top: 20px;
  left: 230px;
  background-color: #7ebef2;
}

.button3 {
  top: 100px;
  left: 120px;
  background-color: #61a9ab;
}

.button4 {
  top: 250px;
  left: 120px;
  background-color: #61a9ab;
}

.button5 {
  top: 180px;
  left: 20px;
  background-color: #61a9ab;
}

.button6 {
  top: 180px;
  left: 265px;
  background-color: #61a9ab;
}

.button7 {
  top: 180px;
  left: 160px;
  background-color: #607d8b;
}
